logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/lib
/cfgchecker.log
/public/resources/bin/
/tequila-java-client-2.0.2
/public/js/js-fastopt.js
/public/js/js-fastopt.js.map
/public/js/js-jsdeps.js
/shared/shared.iml
