@()(implicit request: RequestHeader)

@main("Grammar Online") {
  <div id="allcontent">
    <div id="title" class="std-background">
    <h1>Grammar</h1>
      <div class="toolbox">
        <a id="button-save" href="#"><i class="icon-save"></i> <span>Save</span></a>
        <a id="button-undo" href="#"><i class="icon-undo"></i> <span>Undo</span></a>
        <a id="button-redo" href="#"><i class="icon-repeat"></i> <span>Redo</span></a>
        <a id="button-norm" href="#"><i class="icon-caret-right"></i> <span>Normalize</span></a>        
        <a id="button-check" href="#"><i class="icon-caret-right"></i> <span>Check this Solution</span></a>
        <a id="button-hints" href="#"><i class="icon-magic"></i> <span>Hints</span></a>        
        <a id="button-abort" href="#"><i class="icon-stop"></i> <span>Abort</span></a></a>
        <a id="button-help" href="#"><i class="icon-question-sign"></i> <span>Syntax</span></a></a>
      </div>
    </div>
    <script>
        var _websocket_url = "@controllers.routes.Application.openConsole().webSocketURL()";
    </script>

    <div class="container-fluid">
          <div class="row-fluid">
                <div id="codecolumn" class="span8">
                  <form id="grammarinput" method="POST" action="">
                    <div id="codebox">S &#45;&gt; &quot;&quot;</div>
                  </form>
                </div>
                <div id="feedbackcolumn" class="span4">
                  <div id="notifications">
                  </div>
                  <div id="disconnectError" class="error alert alert-error fade hide in">
                      <a class="close" data-dismiss="alert" href="#">&times;</a>
                      <h4>Failed to connect</h4>
                      <p>The server appears to be unreachable right now.</p>
                      <p id="disconnectMsg"></p>
                      <p></p>
                  </div>
                  <div id="connectError" class="error alert alert-error fade hide in">
                      <a class="close" data-dismiss="alert" href="#">&times;</a>
                      <h4>Failed to connect</h4>
                      <p>Failed to contact the mothership :(</p>
                      <p>It usually indicates that your firewall blocks traffic on websocket ports.</p>
                  </div>
                </div>
                <div id="actionscolumn" class="span4">
                  <div id="exerciseType" class="action">
                    <h3 class="std-background"><i class="icon-upload"></i> Select an exercise:</h3>
                    <select id="exercise-select" name="exercise-list">
                      <option value="">-- Select an exercise --</option>                                                                                                                                  
                    </select>
                  </div>
                  <div id="selectcolumn" class="action">
                    <h3 class="std-background"><i class="icon-upload"></i> Select a problem:</h3>
                    <select id="example-loader" name="codeexample" disabled>
                      <option value="">-- Select a problem--</option>                      
                    </select>
                  </div>
                  <div id="desc" class="action" >                                    	
                  </div>
                  <div class="action" id="console-action">
                      <h3 class="std-background"><i class="icon-comments-alt"></i> Console:</h3>
                      <div id="console"></div>
                  </div>
                </div>
          </div>
    </div>
  </div>
  <div id="release">&copy; EPFL, Lausanne 2009-2014 </div>
}
